.custom-navbar {
    background-color: #343a40;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .custom-navbar .nav-link {
    font-size: 1rem;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-navbar .nav-link:hover {
    color: #ccc;
    text-decoration: none;
  }
  
  .custom-navbar .bi {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-navbar .bi:hover {
    color: #ccc;
  }
  .nav-icons {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .connect-link {
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
 
  .nav-icons img {
    transition: transform 0.3s ease;
  }
  
  .nav-icons img:hover {
    transform: scale(1.2);
  }
  .theme-toggle-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .theme-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fffbfbcf;
    transition: 0.4s;
  }
  
  .theme-toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: rgba(9, 9, 9, 0.719);
    transition: 0.4s;
  }
  
  .theme-toggle-switch input:checked + .theme-toggle-slider {
    background-color: #2196f3;
  }
  
  .theme-toggle-switch input:checked + .theme-toggle-slider:before {
    transform: translateX(24px);
  }
  
  .theme-toggle-switch input {
    display: none;
  }
  
/* Navbar.css */
.navbar {
  font-size: 1.25rem;
  padding: 1rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons img {
  width: 30px;
  height: 30px;
  margin: 0 0.75rem;
  transition: all 0.3s ease;
}

.connect-link {
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.connect-link:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.nav-icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5rem;
}

.theme-toggle img {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}

.theme-toggle:hover img {
  transform: scale(1.2);
}




  @media (min-width: 768px) {
    .custom-navbar .navbar-brand {
      font-size: 2rem;
    }
  
    .custom-navbar .nav-link {
      font-size: 1.25rem;
    }
  
    .custom-navbar .bi {
      font-size: 1.75rem;
    }
  }
  .theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10rem;
  }
  
  
  @media (min-width: 992px) {
    .custom-navbar .navbar-brand {
      font-size: 2.5rem;
    }
  
    .custom-navbar .nav-link {
      font-size: 1.5rem;
    }
  
    .custom-navbar .bi {
      font-size: 2rem;
    }
  }
  .theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10rem;
  }
  @media (max-width: 991.98px) {
    .theme-toggle {
      order: 0;
    }
    .navbar-toggler {
      order: 1;
    }
  }

  @media(max-width: 600px){
    .theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 10rem;
      order: 0;
    }
    .navbar-toggler {
      order: 1;
    }
  }

  @media(max-width: 1200px){
    .theme-toggle {
      babackground: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 10rem;
      order: 0;
      
    }
    .navbar-toggler {
      order: 1;
    }
  }
  @media(max-width: 493px){
    .theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 10rem;
      order: 0;
    }
    .navbar-toggler {
      order: 1;
    }
  }
  @media(max-width: 1024px){
    .theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 25rem;
      order: 0;
    }
    .navbar-toggler {
      order: 1;
    }
  }
  @media(max-width: 1280px){
    .theme-toggle {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 25rem;
      order: 0;
    }
    .navbar-toggler {
      order: 1;
    }
  }

  .d-inline-block.align-top{
    size: 600px;
  }
 